{% extends 'post/base.html' %}
{% load humanize %}
{% block title %}
Public Chat
{% endblock title %}
{% block body %}
<script>
    function updatescroll(){
        var element = document.getElementById("chat-box");
        element.scrollTop = element.scrollHeight;
    }
    window.onload = updatescroll
</script>
<div class="container mt-4 d-flex justify-content-center">
    <div style="border: 1px solid; height: 500px; width: 500px;">
        <div id="chat-box" style="height:450px; padding: 10px; overflow: auto; overflow-x: hidden;">

            {% for chat in chats %}
            {% if chat.sender == request.user %}
            <div style="padding: 5px; float: right;">
                
                <div style="display: inline-block; background-color: lightblue; border: 1px solid; width:250px; height: fit-content;
                 word-wrap:break-word;  padding: 5px; border-radius: 15px;">
                    <span style="font-weight: bold;">{{chat.message}}</span>
                    <span style="font-size: 10px; font-style: italic;">{{chat.created_at|naturaltime}}</span>
                </div>

                <div style="display: inline-block; width: 80px; height: fit-content; word-wrap:break-word;">
                    {{chat.sender}}
                </div>


            </div>
            {% else %}

            <div style="padding: 5px; float: left;">
                
                <div style="display: inline-block; width: 75px; height: fit-content; word-wrap:break-word;">
                    {{chat.sender}}:
                </div>

                <div style=" background-color: lightblue; border: 1px solid; width:250px; height: fit-content;
                 word-wrap:break-word; display: inline-block; padding: 5px; border-radius: 15px;">
                    <span style="font-weight: bold;">{{chat.message}}</span>
                    <span style="font-size: 10px; font-style: italic;">{{chat.created_at|naturaltime}}</span>
                </div>


            </div>
            {% endif %}
            
            {% endfor %}

        </div>
        <div>
            <form class="d-flex justify-content-around" style="height: 50px; padding: 5px;" method="POST">
                {% csrf_token %}
                <input type="text"class="form-control" name="message" placeholder="Enter message...">
                <button class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
    
</div>

{% endblock body %}
