{% extends 'post/base.html' %}
{% load humanize %}
{% block title %}
{{post.title}}
{% endblock title %}

{% block body %}
<div class="container">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 text-success">{{post.category}}</strong>
                            
                            <h3 class="mb-0">
                                <a class="text-dark" href="/post/this-post-if-from-nother-user">
                                    {{post.title}}
                                </a>
                            </h3>
                            <p>{{post.author}}</p>
                            <div class="mb-1 text-muted">{{post.created_at|naturaltime}}</div>
                            <p class="card-text mb-auto">{{post.content}}</p>
                            <a href="/post/this-post-if-from-nother-user" class="mt-2 text-warning">Continue
                                reading...</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <img class="img-fluid rounded h-100 w-100" src="{{post.image_url}}" alt="this post if from nother user">
                    </div>
                </div>
        </div>

<!-- 
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 text-success">Politics</strong>
                            <h3 class="mb-0">
                                <a class="text-dark" href="/post/where-can-i-get-some">
                                    Where can I get some?
                                </a>
                            </h3>
                            <div class="mb-1 text-muted">1 week, 3 days ago</div>
                            <p class="card-text mb-auto">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alte…</p>
                            <a href="/post/where-can-i-get-some" class="mt-2 text-warning">Continue
                                reading...</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <img class="img-fluid rounded h-100 w-100" src="/media/posts/assassian.jpg" alt="Where can I get some?">
                    </div>
                </div>
            </div>
        </div> -->




    </div>

</div>
{% endblock body %}
