{% extends 'post/base.html' %}
{% block title %}
Login Page
{% endblock title %}

{% block body %}
    <div class="container mt-4 d-flex justify-content-center">
        <form method="POST">
            {% csrf_token %}

            <div class="form-label-group">
                <label>Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username">
            </div>

            <div class="form-label-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control">
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>

            <p>Do not have account?<span> <a href="{% url 'register' %}">Register</a></span></p>

            <button class="btn btn-primary">Login</button>
            
        </form>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
{% endblock body %}